<!--
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


<title>Insert title here</title>
<script>
	var bookApp = angular.module("BookApp",[]);
	bookApp.service("BookService",['$http',function($http){
		this.saveBook = function saveBook(book){
			var bookdata = angular.toJson(book);
			
		    return $http.post(
				'/LibrarySystem/addBook',bookdata
			);
		}
	}]);
	bookApp.controller("addBook",['$scope','BookService',function($scope,BookService){
		$scope.messege = "";
		$scope.saveBook = function(){
			$scope.book.rem_copies = $scope.book.total_copies;
			if($scope.bookForm.$valid){
				BookService.saveBook($scope.book).then(function success(response){
					$scope.messege = "Book Added Successfully";
				},function error(response){
					$scope.messege = "Error:" + response;
				});
			}
		};
	}]);
	</script>
</head>
<body>
	"^(?:ISBN(?:-10)?:? )?(?=[0-9X]{10}$|(?=(?:[0-9]+[- ]){3})[- 0-9X]{13}$)[0-9]{1,5}[- ]?[0-9]+[- ]?[0-9]+[- ]?[0-9X]$"   -> ISBN Regex
-->
		
	<button class="btn btn-default" style="width:200px;margin-bottom: 30px" ng-click="HideBookAddForm =!HideBookAddForm" >
		ADD BOOK
	</button>
	
	<div ng-hide="HideBookAddForm" ng-init="HideBookAddForm=true">
	
		<fieldset>
			<legend style="font-size: 30px">Add Details About Book:</legend>		
		</fieldset>
		<label style="color:blue">{{messege}}</label>
		<form name="bookForm" method="post" novalidate ng-submit="saveBook()" style="width: 600px">
			<div class="form-group">
  				<label for="isbn">ISBN:</label>
  				<input type="text" class="form-control" name="isbn" id="isbn" ng-model="book.isbn" ng-pattern="/\b\d{5}\b/g" required/>
  				<div ng-if="submitted || bookForm.isbn.$dirty" ng-messages="bookForm.isbn.$error" style="color: red">
  					<div ng-message="required">Enter ISBN number</div>
  					<div ng-message="pattern">ISBN must be 5 digit number</div>
  				</div>
			</div>
			<div class="form-group">
  				<label for="title">Title:</label>
  				<input type="text" class="form-control" name="title" id="title" ng-model="book.title" required/>
  				<div ng-if="submitted || bookForm.title.$dirty" ng-messages="bookForm.title.$error" style="color: red">
  					<div ng-message="required">Enter Book Title</div>
  				</div>
			</div>
			<div class="form-group">
  				<label for="author">Author:</label>
  				<input type="text" class="form-control" name="author" id="author" ng-model="book.author" required />
  				<div ng-if="submitted || bookForm.author.$dirty" ng-messages="bookForm.author.$error" style="color: red">
  					<div ng-message="required">Enter Author Name</div>
  				</div>
			</div>
			<div class="form-group">
  				<label for="numtc">Number of Copies:</label>
  				<input type="number" class="form-control" name="numtc" id="numtc" ng-model="book.total_copies" ng-pattern="/^[0-9]{1,7}$/" required/>
  				<div ng-if="submitted || bookForm.numtc.$dirty" ng-messages="bookForm.numtc.$error" style="color: red">
  					<div ng-message="required">Enter Total Number of Copies</div>
  					<div ng-message="pattern">Not a Valid Number</div>
  				</div>
			</div>
			<div class="form-group">
  				<button class="btn btn-default" type="submit" style="margin-left: 200px;width: 200px;height: 50px;font-size: 20px">Add Book</button>
			</div>
		</form>
		
	</div>
	
	
	<div style="margin-top: 30px">
		<label style="font-size: 24px">All Books:</label>
	</div>
	<div class="container-fluid row">
			<div class="container-fluid col-md-8">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>ISBN</th>
							<th>Title</th>
							<th>Author</th>
							<th>No of copies</th>
							<th>Remaining Copies</th>
						</tr>
					</thead>
					<tbody ng-repeat="book in books">
						<tr>
							<td>{{book.isbn}}</td>
							<td>{{book.title}}</td>
							<td>{{book.author}}</td>
							<td>{{book.total_copies}}</td>
							<td>{{book.rem_copies}}</td>
						</tr>
					</tbody>
				</table>
			</div>

		</div>

<!--
</body>
</html>
-->